.main-trandingnow {
  border-radius: 7px;
  border: 1px solid #7c8d9d;
  margin-top: 20px;
  background-color: #fff;
}
.trandingnow-heading {
  font-weight: 900;
  font: bold;
}
.tranding-div {
  border: 1px solid #7c8d9d;
}
.tranding-div > h5,
h4,
h6 {
  margin: 0;
}
